-- MySQL dump 10.13  Distrib 9.2.0, for Win64 (x86_64)
--
-- Host: localhost    Database: cep
-- ------------------------------------------------------
-- Server version	9.2.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alumnos`
--

DROP TABLE IF EXISTS `alumnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alumnos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `apellido` varchar(255) NOT NULL,
  `dni` varchar(20) NOT NULL,
  `edad` int NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `tutor` varchar(255) DEFAULT NULL,
  `regular` tinyint(1) NOT NULL DEFAULT '1',
  `curso_id` bigint NOT NULL,
  `ciclo_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dni` (`dni`),
  KEY `curso_id` (`curso_id`),
  CONSTRAINT `alumnos_ibfk_1` FOREIGN KEY (`curso_id`) REFERENCES `cursos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alumnos`
--

LOCK TABLES `alumnos` WRITE;
/*!40000 ALTER TABLE `alumnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `alumnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ciclos_lectivos`
--

DROP TABLE IF EXISTS `ciclos_lectivos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ciclos_lectivos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `anio` int NOT NULL,
  `activo` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ciclos_lectivos`
--

LOCK TABLES `ciclos_lectivos` WRITE;
/*!40000 ALTER TABLE `ciclos_lectivos` DISABLE KEYS */;
INSERT INTO `ciclos_lectivos` VALUES (1,2026,0),(2,2027,1);
/*!40000 ALTER TABLE `ciclos_lectivos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `curso_profesor_materia`
--

DROP TABLE IF EXISTS `curso_profesor_materia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `curso_profesor_materia` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `curso_id` bigint NOT NULL,
  `profesor_id` bigint NOT NULL,
  `materia_id` bigint NOT NULL,
  `ciclo_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `curso_id` (`curso_id`),
  KEY `profesor_id` (`profesor_id`),
  KEY `materia_id` (`materia_id`),
  CONSTRAINT `curso_profesor_materia_ibfk_1` FOREIGN KEY (`curso_id`) REFERENCES `cursos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `curso_profesor_materia_ibfk_2` FOREIGN KEY (`profesor_id`) REFERENCES `profesores` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `curso_profesor_materia_ibfk_3` FOREIGN KEY (`materia_id`) REFERENCES `materias` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `curso_profesor_materia`
--

LOCK TABLES `curso_profesor_materia` WRITE;
/*!40000 ALTER TABLE `curso_profesor_materia` DISABLE KEYS */;
INSERT INTO `curso_profesor_materia` VALUES (1,1,11,1,1);
/*!40000 ALTER TABLE `curso_profesor_materia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cursos`
--

DROP TABLE IF EXISTS `cursos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cursos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `orden` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cursos`
--

LOCK TABLES `cursos` WRITE;
/*!40000 ALTER TABLE `cursos` DISABLE KEYS */;
INSERT INTO `cursos` VALUES (1,'Primero',1),(2,'Segundo',2),(3,'Tercero',3),(4,'Cuarto',4),(5,'Quinto',5);
/*!40000 ALTER TABLE `cursos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materias`
--

DROP TABLE IF EXISTS `materias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `materias` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materias`
--

LOCK TABLES `materias` WRITE;
/*!40000 ALTER TABLE `materias` DISABLE KEYS */;
INSERT INTO `materias` VALUES (19,'Agroecolog├¡a'),(13,'Art├¡stica'),(4,'Biolog├¡a'),(17,'Ciudadan├¡a'),(24,'Derecho'),(2,'Econom├¡a'),(10,'Ed. F├¡sica'),(16,'EDI'),(7,'Filosof├¡a'),(11,'Fisica'),(15,'F├¡sico Qu├¡mica'),(9,'Form. ├ëtica'),(27,'Form. Profesional'),(5,'Geograf├¡a'),(18,'Granja'),(23,'Higiene'),(3,'Historia'),(6,'Lengua'),(1,'Matem├íticas'),(12,'Portug├⌐s'),(20,'Proyecto'),(26,'Psicolog├¡a'),(21,'Qu├¡mica'),(22,'Qu├¡mica Aplicada'),(25,'Salud y Ambiente'),(8,'Tecnolog├¡a'),(14,'TIC');
/*!40000 ALTER TABLE `materias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notas`
--

DROP TABLE IF EXISTS `notas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `alumno_id` bigint DEFAULT NULL,
  `curso_id` bigint DEFAULT NULL,
  `materia_id` bigint DEFAULT NULL,
  `trimestre` int NOT NULL,
  `numero` int NOT NULL,
  `nota` decimal(5,2) DEFAULT NULL,
  `guardado` tinyint(1) DEFAULT '1',
  `enviado` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `ciclo_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nota_unica` (`alumno_id`,`curso_id`,`materia_id`,`trimestre`,`numero`,`ciclo_id`),
  KEY `idx_notas_curso` (`curso_id`),
  KEY `idx_notas_materia` (`materia_id`),
  KEY `idx_notas_alumno` (`alumno_id`),
  CONSTRAINT `notas_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `notas_ibfk_2` FOREIGN KEY (`curso_id`) REFERENCES `cursos` (`id`),
  CONSTRAINT `notas_ibfk_3` FOREIGN KEY (`materia_id`) REFERENCES `materias` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10282 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notas`
--

LOCK TABLES `notas` WRITE;
/*!40000 ALTER TABLE `notas` DISABLE KEYS */;
/*!40000 ALTER TABLE `notas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profesores`
--

DROP TABLE IF EXISTS `profesores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profesores` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `apellido` varchar(255) NOT NULL,
  `dni` varchar(20) NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `dni` (`dni`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profesores`
--

LOCK TABLES `profesores` WRITE;
/*!40000 ALTER TABLE `profesores` DISABLE KEYS */;
INSERT INTO `profesores` VALUES (11,'Santiago','Maidana','36094825',1);
/*!40000 ALTER TABLE `profesores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vista_boletines`
--

DROP TABLE IF EXISTS `vista_boletines`;
/*!50001 DROP VIEW IF EXISTS `vista_boletines`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_boletines` AS SELECT 
 1 AS `ciclo_id`,
 1 AS `ciclo`,
 1 AS `alumno_id`,
 1 AS `alumno`,
 1 AS `alumno_apellido`,
 1 AS `curso`,
 1 AS `materia`,
 1 AS `t1`,
 1 AS `t2`,
 1 AS `t3`,
 1 AS `examen_dic`,
 1 AS `examen_mar`,
 1 AS `promedio_trimestres`,
 1 AS `estado`,
 1 AS `nota_final`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vista_boletines`
--

/*!50001 DROP VIEW IF EXISTS `vista_boletines`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_boletines` AS select `n`.`ciclo_id` AS `ciclo_id`,`cl`.`anio` AS `ciclo`,`n`.`alumno_id` AS `alumno_id`,`a`.`nombre` AS `alumno`,`a`.`apellido` AS `alumno_apellido`,`c`.`nombre` AS `curso`,`m`.`nombre` AS `materia`,truncate(avg((case when (`n`.`trimestre` = 1) then `n`.`nota` end)),2) AS `t1`,truncate(avg((case when (`n`.`trimestre` = 2) then `n`.`nota` end)),2) AS `t2`,truncate(avg((case when (`n`.`trimestre` = 3) then `n`.`nota` end)),2) AS `t3`,max((case when ((`n`.`trimestre` = 4) and (`n`.`numero` = 1)) then `n`.`nota` end)) AS `examen_dic`,max((case when ((`n`.`trimestre` = 4) and (`n`.`numero` = 2)) then `n`.`nota` end)) AS `examen_mar`,truncate((((avg((case when (`n`.`trimestre` = 1) then `n`.`nota` end)) + avg((case when (`n`.`trimestre` = 2) then `n`.`nota` end))) + avg((case when (`n`.`trimestre` = 3) then `n`.`nota` end))) / 3),2) AS `promedio_trimestres`,(case when ((avg((case when (`n`.`trimestre` = 1) then `n`.`nota` end)) < 6) or (avg((case when (`n`.`trimestre` = 2) then `n`.`nota` end)) < 6) or (avg((case when (`n`.`trimestre` = 3) then `n`.`nota` end)) < 6)) then 'EP' else 'APROBADO' end) AS `estado`,(case when ((avg((case when (`n`.`trimestre` = 1) then `n`.`nota` end)) < 6) or (avg((case when (`n`.`trimestre` = 2) then `n`.`nota` end)) < 6) or (avg((case when (`n`.`trimestre` = 3) then `n`.`nota` end)) < 6)) then (case when (max((case when ((`n`.`trimestre` = 4) and (`n`.`numero` = 1)) then `n`.`nota` end)) >= 6) then max((case when ((`n`.`trimestre` = 4) and (`n`.`numero` = 1)) then `n`.`nota` end)) when (max((case when ((`n`.`trimestre` = 4) and (`n`.`numero` = 2)) then `n`.`nota` end)) >= 6) then max((case when ((`n`.`trimestre` = 4) and (`n`.`numero` = 2)) then `n`.`nota` end)) else NULL end) else truncate((((avg((case when (`n`.`trimestre` = 1) then `n`.`nota` end)) + avg((case when (`n`.`trimestre` = 2) then `n`.`nota` end))) + avg((case when (`n`.`trimestre` = 3) then `n`.`nota` end))) / 3),2) end) AS `nota_final` from ((((`notas` `n` join `ciclos_lectivos` `cl` on((`cl`.`id` = `n`.`ciclo_id`))) join `alumnos` `a` on((`a`.`id` = `n`.`alumno_id`))) join `cursos` `c` on((`c`.`id` = `n`.`curso_id`))) join `materias` `m` on((`m`.`id` = `n`.`materia_id`))) group by `n`.`ciclo_id`,`n`.`alumno_id`,`n`.`curso_id`,`n`.`materia_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-11 19:00:08
